name: Scheduled Kitsunekko sync

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */3 * * *"

jobs:
  run-script:
    name: Synchronize with Kitsunekko
    runs-on: ubuntu-latest

    steps:
      # https://github.com/endersonmenezes/free-disk-space
      - name: Free Disk Space
        uses: endersonmenezes/free-disk-space@v3  # Use @main for latest, @v3 for stable
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          remove_tool_cache: true
          remove_swap: false
          remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
          remove_packages_one_command: true
          remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
          rm_cmd: "rmz"  # Use 'rmz' for faster deletion (default: 'rm')
          testing: false

      - name: Check out the repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Install kitsunekko-tools
        run: pip install -r requirements.txt

      - name: Synchronize with kitsunekko
        shell: bash
        env:
          KITSU_API_URL: ${{ secrets.KITSUAPIURL }}
          KITSU_API_KEY: ${{ secrets.KITSUAPIKEY }}
        run: >-
          python -m
          kitsunekko_tools -c ktools.toml
          sync --api

      - name: Install fdupes
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: fdupes
          version: 1.0

      - name: Remove duplicates
        shell: bash
        run: bash scripts/remove-duplicates.sh

      - name: Remove large files
        shell: bash
        run: find subtitles -type f -regextype posix-extended -iregex '.*\.(ass|ssa|srt)$' -size +10M -print -delete

      - name: Sync ignore files
        shell: bash
        run: >-
          python -m
          kitsunekko_tools -c ktools.toml
          ignore add_all

      - name: Sanitize
        shell: bash
        run: >-
          python -m
          kitsunekko_tools -c ktools.toml
          sanitize

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Synchronize Mirror with Kitsunekko
          commit_user_name: GitHub Actions
          commit_user_email: noreply@github.com
          commit_author: GitHub <noreply@github.com>

      - name: Dispatch Deploy
        uses: aurelien-baudet/workflow-dispatch@3133c5d135c7dbe4be4f9793872b6ef331b53bc7 # pin@v2
        with:
          workflow: Deploy # match workflow name (not filename)
          token: ${{ secrets.GITHUB_TOKEN }}
          wait-for-completion: false
