name: Scheduled Kitsunekko sync

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */3 * * *"

jobs:
  run-script:
    name: Synchronize with Kitsunekko
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Install kitsunekko-tools
        run: pip install -r requirements.txt

      - name: Synchronize with kitsunekko
        shell: bash
        env:
          KITSU_API_URL: ${{ secrets.KITSUAPIURL }}
          KITSU_API_KEY: ${{ secrets.KITSUAPIKEY }}
        run: >-
          python -m
          kitsunekko_tools -c ktools.toml
          sync --api

      - name: Install fdupes
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: fdupes
          version: 1.0

      - name: Remove duplicates
        run: bash scripts/remove-duplicates.sh

      - name: Remove large files
        run: find subtitles -type f -regextype posix-extended -iregex '.*\.(ass|ssa|srt)$' -size +10M -print -delete

      - name: Sync ignore files
        shell: bash
        run: >-
          python -m
          kitsunekko_tools -c ktools.toml
          ignore add_all

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Synchronize Mirror with Kitsunekko
          commit_user_name: GitHub Actions
          commit_user_email: noreply@github.com
          commit_author: GitHub <noreply@github.com>

      - name: Dispatch Deploy
        uses: aurelien-baudet/workflow-dispatch@3133c5d135c7dbe4be4f9793872b6ef331b53bc7 # pin@v2
        with:
          workflow: Deploy # match workflow name (not filename)
          token: ${{ secrets.GITHUB_TOKEN }}
          wait-for-completion: false
